<html>
  <head>
  </head>
  <body>
    <h1> San Diego Trivia </h1>



    <strong>

      <%= question %>
    </strong>
    <br />
    <%= answer %>

    <br />

    <div>
      <img src="<%= image %>" height="30%" width="30%"/>

    </div>
    <div>

    <a href="<%= link %>">Next Question</a>
  </div>

    <a href="/">Back</a>
    <a href="/trivia/answer/">Back</a>
  </body>
</html>
